/*So this is the section where we talk about the body and background*/

body, html {
    height: 100%;
}

.bg { 
    /* The image used */
    background-image: url(https://ibb.co/eN5HBo);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



  @media screen and (min-width: 0px) and (max-width: 400px) {
  footer { display: block; }  /* show it on small screens */
}

@media screen and (min-width: 401px) and (max-width: 1024px) {
  footer { display: none; }   /* hide it elsewhere */
} 