/*So this is the section where we talk about the body and background*/

body {
  background-image: url("https://ibb.co/eN5HBo");
  background-color: #e2dcd7;
}

h1 { 
  text-align: center;
  
  
} 



  @media screen and (min-width: 0px) and (max-width: 400px) {
  footer { display: block; }  /* show it on small screens */
}

@media screen and (min-width: 401px) and (max-width: 1024px) {
  footer { display: none; }   /* hide it elsewhere */
} 